/* SHEET FOR THE VERIFIER */

.map-area:hover {
stroke:#000;
fill:#FFF !important;
}

.box {
  width:100px;
  height:100px;
  float:left;
}


span.map-area:hover {
  cursor:pointer;
  text-decoration: underline;
}

.button:hover {
stroke:#000;
fill:#12D;
}
#list {
font-size:14px;
padding-left:30px;
padding-bottom:10px;
}

#list table {
  width:90%;
}

#content {
  background:#fff;
}

path {
fill:rgb(100,100,100);
}

path.none {
  fill:rgb(160,160,160) ;
}

path.pbvs {
  fill:#2c912d;
}

path.avbm {
  fill:#4ca16d;
}

path.mpbv, path.mpdv  {
 fill:#43df45;
}

path.mpbn, path.mpdn  {
    fill:#ffa500;
}


path.mpdx {
    fill:#cf20ff;
}

path.drev {
  fill:#FFeF22;
}

path.dren {
  fill:#dd2222;
}

path.greyed {
  fill:#aab8aa !important;
}

path {
  stroke:black;
}


