/* SHEET FOR THE VERIFIER */

.cousub:hover {
stroke:#000;
fill:#FFF;
}

.box {
  width:100px;
  height:100px;
  float:left;
}


.button:hover {
stroke:#000;
fill:#12D;
}
#list {
font-size:14px;
padding-left:30px;
padding-bottom:10px;
}

#list table {
  width:90%;
}

#content {
  background:#fff;
}

path {
fill:rgb(100,100,100);
}

path.none {
  fill:rgb(160,160,160) ;
}

path.pbvs {
  fill:#2c912d ;
}

path.mpbv {
 fill:#43df45;
}

path.mpbn {
    fill:#ffa500;
}

path.mpdx {
    fill:#cf20ff;
}

path.drev {
  fill:#FFeF22;
}

path.dren {
  fill:#dd2222;
}


path {
  stroke:black;
}


